<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="MyCRMServer"
  connectionString="AuthType=AD;Url=https://cb-icap-class.test.jag.gov.bc.ca;Domain=idir;Username=idir\INT_36501;Password=Dynamicsnoexp201;OrgName=CB-ICAP-CLASS"/>
  </connectionStrings>
  <appSettings>
	  <add key="EncryptionKey" value="test" />
	  <add key="RefreshEntity" value="Confinement,CTOC,Reviews,DailyTracking,Leaves,Client" />
	  <add key="LastRefreshedDate" value="5/30/2021" />
	  <add key ="RetrieveEntity" value="ssg_separateconfinement"/>
	  <add key ="RetriveColumn" value="ssg_separateconfinementenddate,ssg_separateconfinementid,ssg_actualenddatetime,ssg_s17starteddate,ssg_extensioncreateddate,ssg_originalenddatetime,ssg_newendtime,ssg_initiationdate,ssg_confinementcreationdate,ssg_dateofnotification,ssg_approveddate"/>
  </appSettings>
</configuration>